<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
</head>

<body>
    <h1>Removal of All Applications</h1>
    All applications have been removed from the database. Number of application removed: <%- removed %>
    <br><br>
    <a href="<%- display %>">HOME</a>

</body>

</html>