<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>

<body>
	<h1>Display Students Based on Group</h1>
	<div>
		<%- dataTable %>
	</div>
    <br>
    <a href="<%- display %>">HOME</a>
</body>

</html>