<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>School Trip</title>
</head>

<body>
	<h1>School Trips: End of The Year Edition</h1>

    <h2>Student Application</h2>
    <ul>
		<li>To apply select <a href="/apply">Application</a></li>
	</ul>
	<hr>

    <h2>School Administrator Only</h2>
    <ul>
		<li>To display all students based on group <a href="/displayStudents">Group Select</a></li>
		<li>To remove all applications <a href="/adminRemove">Remove All Applications</a></li>
		<li>Check weather <a href="/check">Press here</a></li>
	</ul>
    <hr>
</body>

</html>
